:root {
    --color: rgb(117, 78, 249);
    --backgroundcolor: rgb(251, 251, 251);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: #fbfbfb;
    padding-top: 70px;
    font-family: "Poppins", sans-serif;

}


.py-7 {
    padding-top: 6rem !important;
    padding-bottom: 3rem !important;
}

/* START NAVBAR CODE */
.logo {
    position: absolute;
    left: 27%;
}

.nav_bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundcolor);
    text-transform: capitalize;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.10);
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: smaller;
}

.nav_bar i {
    color: var(--color);
    border: var(--color) solid 3px;
    padding: 2px;
    border-radius: 50%;
}

.nav_bar ul li {
    margin-left: 26px;
    /* padding-right: 1rem !important; */
    color: black;
}

.nav_bar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #8a8fa3;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.nav_bar a:hover,
.nav_bar a.active {
    color: var(--color);

}

.nav_bar ul li a:hover::before {
    height: 50px;
}

.nav_bar ul li a::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 0px;
    background-color: var(--color);
    left: 50%;
    top: -55px;
    transform: translateX(-50%);
    transition: all 0.3s ease-out 0s;
}

/* END NAVBAR CODE */

/* START SHAPE CODE */
.shape {
    position: relative;
    height: 555px;
    width: 100%;
    padding-top: 80px;
    background-color: #eceff8;
}

.shape h4 {
    color: var(--color);
    font-weight: bold;
}

.shape h1 {
    font-size: 50px;
    font-weight: 700;
}

.head .h1,
.services .h1 {
    font-weight: 700;
    font-size: 45px;
}

.shape p {
    color: rgb(138, 143, 163);
    margin-bottom: 42px;
}

.shape .button {
    background-color: #754ef9;
    padding: 13px 38px;
    width: 160px;
    border: transparent solid 2px;
    border-radius: 24px;
    color: #FFF;
    transition: all 0.3s ease-out 0.1s;
    box-shadow: 2px 2px 20px rgba(117, 78, 249, 0.5);
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
    font-size: 11px;
    margin-top: 13px;
}

.shape .button:hover,
.contact .button:hover {
    background-color: #FFF;
    border: var(--color) solid 2px;
    color: var(--color);

}

.social-list {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -31px;
    left: 27%;
    width: 70%;
}

.shape .social-list ul li {
    display: inline;
}

.social-list li a {
    opacity: 0.4;
    border: #888 solid 1px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s;
    width: 38px;
    height: 38px;
    margin-left: 10px;

    text-align: center;

}

.social-list li a {
    text-decoration: none;
    color: #888;
}

.social-list li a:hover {
    color: #FFF;
}

.social-list li a:hover,
.icons i:hover {
    opacity: 1;
    background-color: rgba(117, 78, 249, 0.8);
    color: #FFF;
}

.social-list li::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color);
    left: -101%;
    bottom: 12px;
    transform: translateY(-50%);
}

/* End Code Shape */


/* Start Code About */

.about {
    padding-top: 60px;
    padding-bottom: 60px;

}

.head .h1 {
    font-weight: bold;
    font-size: 42px;
    color: #000;
}

.head {
    margin-bottom: 60px;
}


.bg-image {
    margin-left: 30%;
    width: 365px;
    height: 365px;
    background-color: #FFF;
    border: 1px solid #eee;
    transition: 0.5s;

}

.bg-image:hover {
    box-shadow: 9px -10px 20px rgba(0, 0, 0, 0.10);
}

.bg-image img {
    width: 322px;
    height: 322px;
    margin: 21px;
}

.about .imag {
    margin-top: 60px;
}



.about .texts i {
    color: var(--color);
    margin-right: 10px;
}


.about .Texts span,
.contact .box p {
    color: #808080;
}

.about .carsd {
    margin-left: 3%;
    margin-right: 12%;
}


/* End Code About */


/* Start Code Skills */

.skills {
    padding-top: 60px;
    padding-bottom: 60px;
}

.progress {
    height: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.progress .progress-bar {


    background-color: var(--color);
    animation: progress 7s ease-in-out forwards;
    opacity: 0;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prog_item {
    position: relative;

}

.counter {
    position: absolute;
    right: 2px;
    top: 2px;
}

/* End Code Skills */

/* START  Project-Mind */
.project-mind {
    background: url("../images/OIG4.jpg") no-repeat center fixed;
    background-size: cover;
    min-height: 290px
}

.project-mind .data {
    padding-top: 30px;
    background: rgba(117, 78, 249, 0.7);
    min-height: 290px;
    padding-bottom: 70px;
    color: #fff;

}

.project-mind h2 {
    font-size: 43px;
    font-weight: 800;
    margin-top: 43px;
}

.project-mind p {
    margin-top: 25px;
    margin-bottom: 25px;
}


.project-mind .data .cv {
    background-color: #FFF;
    padding: 8px;
    width: 141px;
    border: #754ef9 solid 1px;
    border-radius: 24px;
    color: #754ef9;
    transition: all 0.3s ease-out 0.1s;
    font-size: 13px;
}

.project-mind .data .cv:hover {
    background-color: #754ef9;
    border: var(--color) solid 1px;
    border-radius: 24px;
    color: #FFF;

}

.project-mind .data .hire {
    background-color: transparent;
    padding: 8px;
    margin-left: 10px;
    width: 141px;
    border: #FFF solid 1px;
    border-radius: 24px;
    color: #FFF;
    transition: all 0.3s ease-out 0.1s;
    font-size: 13px;
}

.project-mind .data .hire:hover {

    background: rgba(255, 255, 255, 0.4);
}

/* End  Project-Mind */

/* START Services */

.services {
    margin-top: 60px;
}


.box {
    width: 287px;
    /* height: 202px; */
    background-color: #fff;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #eceff8;
    transition: 0.5s;
    margin-bottom: 20px;
}

.carsd {
    margin-left: 13%;
    margin-right: 17%;
}

.services .box i,
.contact .box i {
    color: #754ef9;
    line-height: 40px;
    font-size: 40px;

}

.services .box a {
    font-size: 18px;
    font-weight: 600;
    color: #32333c;
    margin-bottom: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 1.5px;
}

.services .box p {
    font-size: 15px;
    font-weight: 20px;
    color: #888;
}

.services .box:hover,
.contact .box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.services .box a:hover {
    color: #754ef9;
}

/* END Services */

/* Start work code */
.work {
    margin-top: 60px;
    padding-top: 60px;

    background-color: #FFF;
    width: 100%;
    height: 800px;
}

.work img {
    position: relative;
    margin-top: 30px;
    width: 369px;
    height: 253px;
}

.work .visble {

    background-color: rgba(117, 78, 249, 0.7);

}

/* End work code */


/* STrat contact */

.contact {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}





textarea {
    height: 135px;
    padding-top: 10px;
    width: 100%;
    resize: none;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 25px;
    font-size: 16px;
    color: #8a8fa3;
}

.from-control:focus,
textarea:focus {
    border: #754ef9 solid 1px;
    outline: none;
}

.from-control {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 25px;
    font-size: 16px;
    color: #8a8fa3;

}

.contact .button {
    background-color: #754ef9;
    padding: 13px 38px;
    margin-right: 60%;
    margin-bottom: 20%;
    width: 160px;
    border: transparent solid 2px;
    border-radius: 24px;
    color: #FFF;
    transition: all 0.3s ease-out 0.1s;
    box-shadow: 2px 2px 20px rgba(117, 78, 249, 0.5);
    text-transform: uppercase;
    font-weight: 100;
    text-decoration: none;
    font-size: 11px;
}

/* End contact code */

/* Start footer */

footer {
    height: 100px;
    background-color: #152136;
}

footer ul li i {
    width: 50px;
    height: 50px;
    padding: 15px;
    margin: 15px;
    border-radius: 50%;
    text-align: center;
    background-color: #1c2940;

}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer ul li i:hover {
    background-color: #754ef9;
}

footer .copy_right {
    background-color: #1c2940;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .copy_right span {
    color: #754ef9;
}

/* End footer code */

/* Start preloader */

.h1 {
    padding-bottom: 20px;
}

.head hr {
    margin-top: 15px;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 99999;
    transition: 2sc;
}

.spinner {
    color: var(--color);
}


/* End preloader */


/* menu nav bar */
#menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
}

#menu span {
    display: block;
    width: 33px;
    height: 1px;
    background-color: black;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

}

/* End menu nav bar */

/* scroll-top code */

#scroll-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    border-radius: 50%;
    border: 2px solid #586376;
    background-color: #152136;
    text-align: center;
    z-index: 9999;
    transition: all 0.3s ease-out 0s;
    display: none;
    cursor: pointer;
}

#scroll-top:hover {
    background-color: #754ef9;
}

/* End scroll-top code */

@media screen and (max-width: 767px) {


    .logo {
        position: absolute;
        left: 10%;
    }



    #menu {
        display: block;
        margin-left: 75%;
    }



    nav ul li {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--background-2);
    }

    /* .nav_bar ul li::before {
        position: none;
        content: '';
        width: 0px;
        height: 0px;
        background-color: var(--color);
        left: 0%;
        top: 0px;
        transform: translateX(-50%);
        transition: all 0.3s ease-out 0s;
    } */


    #actions.is-active {
        display: inline-grid;
    }

    #menu.is-active span:nth-child(1) {
        transform: translate(0px, 10px) rotate(-45deg);
    }

    #menu.is-active span:nth-child(2) {
        opacity: 0;
        transform: translateX(16px);
    }

    #menu.is-active span:nth-child(3) {
        transform: translate(3px, -25px) rotate(45deg);
    }

    #menu.is-active span {
        background-color: black;
    }


    nav {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 82px;
        z-index: 100;
    }


    .bg-image {
        margin-left: 10%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 970px) {

    .bg-image {
        margin-left: 10%;
        margin-bottom: 20px;
    }
}