:root {
  --color: rgb(117, 78, 249);
  --bg: rgb(251, 251, 251);
  --borderColor: rgb(236, 239, 248);
  --white: #fff;
}

/* colors */
.work .a,
.shape .button,
.social-list li a:hover,
.project-mind .data,
.project-mind .hire a,
.project-mind .cv:hover a,
.project-mind .hire,
.overlay li,
footer .copy_right,
footer ul li a,
.contact .button,
#scroll-top,
.work-images .overlay .content ul li a,
.social-list li a:hover,
.icons i:hover {
  color: var(--white);
}

footer ul li i:hover,
.nav_bar ul li a::before,
.project-mind .cv:hover,
.contact .button,
#scroll-top:hover,
.work .a,
.shape .button {
  background-color: #754ef9;
}
footer ul li i,
footer .copy_right {
  background-color: #1c2940;
}
.shape h4,
.nav_bar a:hover,
.nav_bar a.active,
.nav_bar i,
footer .copy_right span,
.project-mind .cv a,
.services .card i,
.services .card a:hover,
.contact .card i,
.work-images .overlay .content ul li a:hover {
  color: #754ef9;
}

.shape p,
.about .texts span,
.contact .card p {
  color: #808080;
}
/* end colors */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background: var(--bg);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.card {
  border-radius: 6px;
  border: 1px solid var(--borderColor);
  transition: 0.5s;
  margin-bottom: 20px;
}

.block {
  padding-top: 80px;
  padding-bottom: 80px;
}
.project-mind h2,
.head .h1,
.services .h1 {
  font-weight: 700;
}
/* START NAVBAR CODE */

.nav_bar {
  height: 80px;
  background-color: var(--backgroundcolor);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.nav_bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_bar ul li a {
  font-size: 12px;
  color: #8a8fa3;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease-out 0s;
  margin-left: 26px;
}

.nav_bar ul li a:hover::before,
.nav_bar a.active::before {
  height: 50px;
}

.nav_bar ul li a::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 0px;
  left: 50%;
  top: -55px;
  transform: translateX(-50%);
  transition: all 0.3s ease-out 0s;
}

/* END NAVBAR CODE */

/* START SHAPE CODE */

.shape {
  position: relative;
  height: 555px;
  background-color: #eceff8;
}

.shape h1 {
  font-size: 50px;
}

.shape .button {
  padding: 13px 38px;
  width: 160px;
  border: transparent solid 2px;
  border-radius: 24px;
  transition: all 0.3s ease-out 0.1s;
  box-shadow: 2px 2px 20px rgba(235, 78, 249, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 11px;
  margin-top: 13px;
}

.shape .button:hover,
.contact .button:hover,
.work .a:hover {
  background-color: var(--white);
  border: var(--color) solid 2px;
  color: var(--color);
}

.social-list {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -26px;
  left: 27%;
  width: 70%;
}

.social-list li a {
  border: #ccc solid 1px;
  border-radius: 50%;
  padding: 10px;
  transition: 0.5s;
  width: 38px;
  height: 38px;
  margin-left: 10px;
  text-align: center;
  color: #ccc;
  display: inline;
}

.social-list li a:hover,
.icons i:hover {
  background-color: rgba(117, 78, 249, 0.8);
  border: rgba(var(--color), 0.8) solid 1px;
}

.social-list li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color);
  left: -101%;
  bottom: 12px;
  transform: translateY(-50%);
}

/* End Code Shape */


/* Start Code About */
.shape .h1 {
  font-weight: bold;
  font-size: 45px;
}

.head {
  /* margin-bottom: 60px; */
}

.bg-image img {
  background-color: var(--white);
  margin-left: 120px;
}

.bg-image img:hover {
  box-shadow: 9px -10px 20px rgba(0, 0, 0, 0.1);
}
.services .card:hover,
.contact .card:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.texts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.texts i {
  color: var(--color);
  margin-right: 10px;
}

/* End Code About */

/* Start Code Skills */
.progress {
  height: 5px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.progress .progress-bar {
  background-color: var(--color);
  width: 0;
}

.prog_item {
  position: relative;
}

.counter {
  position: absolute;
  right: 2px;
  top: 2px;
}

/* End Code Skills */

/* START  Project-Mind */
.project-mind {
  background: url("../images/OIG4.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 290px;
}

.project-mind .data {
  padding-top: 70px;
  padding-bottom: 70px;
  background: rgba(117, 78, 249, 0.7);
  min-height: 290px;
}

.project-mind h2 {
  font-size: 38px;
}

.project-mind p {
  margin: 25px;
  font-size: 16px;
}

.project-mind .cv {
  background-color: var(--white);
  border: var(--color) solid 1px;
  border-radius: 24px;
  padding: 13px 30px;
}

.project-mind .cv:hover {
  border: var(--color) solid 1px;
  border-radius: 50px;
}

.project-mind ul li {
  display: inline-block;
  margin: 10px 13px 0;
}

.project-mind .hire,
.project-mind .cv {
  font-size: 15px;
  transition: all 0.3s ease-out 0.1s;
  cursor: pointer;
}

.project-mind .hire {
  background-color: transparent;
  margin-left: 10px;
  border: var(--white) solid 1px;
  border-radius: 24px;
  padding: 13px 52px;
}

.project-mind .hire:hover {
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-out 0.1s;
}

/* End  Project-Mind */

/* START Services */

.services {
  margin-top: 60px;
}
.services .h1 {
  font-size: 45px;
}

.services .card {
  padding: 24px;
  margin: 20px;
}

.services .card i {
  font-size: 45px;
  padding-top: 10px;
}

.services .card a {
  font-size: 20px;
  font-weight: 600;
  color: #32333c;
  /* margin-bottom: 20px; */
}

.services .card p {
  font-size: 16px;
  font-weight: 20px;
  padding-bottom: 10px;
  color: #888;
}

/* END Services */

/* Start work code */
.work {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.work .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.work-images {
  width: 90%;
  position: relative;
  transition: all 0.5s ease-out 0.1s;
}

.work-images img {
  width: 100%;
}

.work .row div:nth-child(1) .work-images,
.work .row div:nth-child(3) .work-images {
  margin-right: -189px;
  margin-top: 25px;
}

.work .row div:nth-child(2) .work-images {
  margin-right: 204px;
  margin-top: 25px;
}

.work-images .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  background-color: rgba(117, 78, 249, 0.8);
  transition: all 0.5s ease-out 0s;
}

.work-images .overlay .content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
.work-images .overlay .content h3 {
  font-size: 22px;
  font-weight: 60;
  transform: translateY(-100%);
  margin-bottom: 15px;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}

.work-images .overlay .content ul::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.work-images .overlay .content ul {
  position: relative;
  padding-top: 20px;
}

.overlay li {
  font-size: 35px;
  display: inline-block;
}

.work-images:hover .overlay {
  opacity: 1;
}

.work-images:hover .overlay li {
  transition: all 0.3s ease-out 0.1s;
  opacity: 1;
}

.work-images .overlay .content ul li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  transition: all 0.3s ease-out 0s;
  margin: 0 15px;
  transition: all 0.3s ease-out 0s;
  opacity: 1;
}

.work-images .overlay .content ul li a:hover {
  background-color: #fff;
  opacity: 1;
}

.work-images .overlay .content ul li:nth-of-type(1) {
  transform: translateX(-100%);
}

.work-images .overlay .content ul li:nth-of-type(2) {
  transform: translateX(100%);
}

.work-images:hover .overlay .content h3 {
  transform: translateY(0);
  opacity: 1;
}

.work-images:hover .overlay .content ul li {
  transform: translateX(0);
  opacity: 1;
}

.work .a {
  padding: 13px 38px;
  margin-top: 6%;
  width: 171px;
  border: transparent solid 2px;
  border-radius: 24px;
  transition: all 0.3s ease-out 0.1s;
  box-shadow: 2px 2px 20px rgba(117, 78, 249, 0.5);
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
  font-size: 11px;
}

/* poup up */

.poupup {
  display: none;
  position: fixed;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}

.inner {
  left: 10%;
  position: fixed;
  top: 10%;
}

.poupup button {
  position: absolute;
  top: 4%;
  right: 9%;
}

.show-popup {
  cursor: pointer;
}

/* End work code */

/* STrat contact */

.contact .card {
  padding: 30px 25px;
}

.contact .card i {
  font-size: 45px;
  margin-bottom: 10px;
}

textarea,
.from-control {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #8a8fa3;
  font-size: 16px;
  padding: 20px;
}

.from-control:focus,
textarea:focus {
  border: var(--color) solid 1px;
  outline: none;
}
.contact .button {
  padding: 13px 38px;
  margin-right: 85%;
  margin-bottom: 20%;
  width: 171px;
  border: transparent solid 2px;
  border-radius: 24px;
  color: #fff;
  transition: all 0.3s ease-out 0.1s;
  box-shadow: 2px 2px 20px rgba(var(--color), 0.5);
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  font-size: 11px;
}

/* End contact code */

/* Start footer */

footer,
#scroll-top {
  background-color: #152136;
}

footer ul li i {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 50%;
}
footer p {
  font-size: 14px;
}
/* End footer code */

/* Start preloader */

.head hr {
  margin-top: 15px;
  width: 50%;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
  transition: 2sc;
}

.spinner {
  color: var(--color);
}

/* End preloader */

/* menu nav bar */
#menu {
  display: none;
  position: relative;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}

#menu span {
  display: block;
  width: 33px;
  height: 3px;
  background-color: black;
  border-radius: 6px;
  transform-origin: 0 0;
  transition: 0.4s;
  margin-bottom: 5px;
  text-align: center;
}

/* End menu nav bar */

/* scroll-top code */

#scroll-top {
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 50%;
  border: 2px solid #586376;
  text-align: center;
  z-index: 9999;
  transition: all 0.3s ease-out 0s;
  display: none;
  cursor: pointer;
}

/* End scroll-top code */

@media screen and (max-width: 500px) {
  .services .card {
    padding: 25px;
    margin: 20px;
  }

  .services .card a {
    font-size: 18px;
  }

  .social-list {
    left: 15%;
  }

  .social-list li a {
    padding: 7px;
    width: 31px;
    height: 31px;
    margin-left: 10px;
    text-align: center;
    color: #ccc;
  }

  .shape h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    display: none;
    top: 3px;
    left: 24px;
    width: 89%;
    height: 180%;
    background-color: var(--white);
    margin-top: 82px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .nav_bar ul {
    display: none;
  }

  .nav_bar ul li a:hover::before,
  .nav_bar a.active::before {
    height: 0px;
  }

  #menu {
    display: block;
    position: absolute;
    right: 28px;
  }

  #actions.is-active {
    display: block;
    position: absolute;
  }

  #menu.is-active span:nth-child(1) {
    transform: translate(0px, 10px) rotate(-45deg);
  }

  #menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(16px);
  }

  #menu.is-active span:nth-child(3) {
    transform: translate(3px, -29px) rotate(45deg);
  }

  #menu.is-active span {
    background-color: black;
  }

  .work .row div:nth-child(1) .work-images img,
  .work .row div:nth-child(3) .work-images img,
  .work .row div:nth-child(2) .work-images img {
    margin-right: 0px;
  }

  .work-images {
    width: 100%;
  }

  .contact .button {
    margin-right: 45%;
  }

  .bg-image img {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 769px) and (max-width: 970px) {
    .bg-image img {
      width: 100%;
      margin-left: -3px;
      margin-bottom: 20px;
    }

    .work .row div:nth-child(2) .work-images img {
      margin-right: 97px;
    }

    .work .row div:nth-child(1) .work-images img,
    .work .row div:nth-child(3) .work-images img {
      margin-right: -138px;
      margin-top: 25px;
    }
  }
}

@media screen and (min-width: 971px) and (max-width: 1140px) {
  .contact .card {
    padding: 28px 13px;
  }

  .bg-image img {
    width: 70%;
    margin-bottom: 20px;
  }

  .services .card i {
    font-size: 60px;
    line-height: 56px;
  }

  .services .card a {
    font-size: 19px;
  }

  .services .card p {
    margin-bottom: 16px;
  }

  .work-images img {
    width: 70%;
  }

  .work .row div:nth-child(2) .work-images img {
    margin-right: 0px;
  }

  .work .row div:nth-child(1) .work-images img,
  .work .row div:nth-child(3) .work-images img {
    margin-right: -138px;
    margin-top: 25px;
  }
}
